<%- model_class = Client -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @client.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @client.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @client.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mobile_phone) %>:</strong></dt>
  <dd><%= @client.mobile_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:landline_phone) %>:</strong></dt>
  <dd><%= @client.landline_phone %></dd>
</dl>

<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_client_path(@client), :class => 'btn btn-default' %>
<%= link_to t('my_sales'), client_sales_path(@client), class: 'btn btn-primary' %>
