<%= form_for @item, url: @item.id ? client_sale_item_path(id: @item.id) : client_sale_items_path, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :currency, value: 'CLP' %>
  <%= f.hidden_field :sale_id, value: params[:sale_id] %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :initial_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :initial_price, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :picture, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :picture, :class => 'form-control' %>
    </div>
  </div>
  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            client_sale_items_path, :class => 'btn btn-default' %>
 
<% end %>
