<%= form_for @sale, url: @sale.id.present? ? client_sale_path : client_sales_path, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.hidden_field :client_id, :class => 'form-control' %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            client_sales_path, :class => 'btn btn-default' %>
 
<% end %>
