<%- model_class = Sale -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:expiration_date) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.title %></td>
        <td><%= sale.active %></td>
        <td><%= sale.expiration_date %></td>
        <td>
          <%= link_to t('.show', :default => t('helpers.links.view')), client_sale_path(@client, sale), class: 'btn btn-xs btn-info' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_client_sale_path(@client, sale), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_client_sale_path(@client),
            :class => 'btn btn-primary' %>
